@import "mixins";

.business-card {
    background: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    h1,
    h2,
    h3 {
        color: $text-white;
    }
    .logo-space {
        .name {
            transition: background-color 2s ease-in;
            text-align: center;
            top: 50%;
            left: 30%;
            @include fadeIn( 2s );
        }
        .circle {
            @include fadeIn( 3s );
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 15%;
            border-radius: 50%;
            background-color: gold;
            height: 75px;
            width: 75px;

            i {
                color: white;
            }
            :hover {
                color: darken(gold, 5%);
            }
        }
    }
}
